{% extends "base.html" %}
{% block content %}

{% url 'daily_ops_dates_list' as daily_ops_dates_url %}
{% url 'daily_ops_products_list' as daily_ops_products_url %}


<h3>Daily Operations</h3>

{% if date_data %}
    <table class="table">
        <thead>
            <tr>
            <th>Date</th>
            <th>Total Transactions</th>
            <th>Revenue</th>
            </tr>
        </thead>
		<tbody>
			{% for date in date_data %}
				<tr>
				<td><a href="{{date.0}}">{{date.0}}</a></td>
				<td>{{date.1}}</td>
				<td>${{date.2}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_paginated %}
	    <div class="pagination">
	        <ul>
	        	{% if product_date_data %}
		            {% url 'daily_ops_products_list' as page_url %}
	        	{% else %}
		            {% url 'daily_ops_dates_list' as page_url %}
		        {% endif %}
	            {% if page_obj.has_previous %}
	                <li>
	                <a href="{{page_url}}?page={{ page_obj.previous_page_number }}">Prev</a>
	                </li>
	            {%else%}
	                <li>
	                <a href="#"  style="color:#808080">Prev</a>
	                </li>
	            {% endif %}
	            <li>
	                <a href="#">{{ page_obj.number }}</a>
	            </li>
	            {% if page_obj.has_next %}
	                <li>
	                <a href="{{page_url}}?page={{ page_obj.next_page_number }}">Next</a>
	                </li>
	            {%else%}
	                <li>
	                <a href="#" style="color:#808080">Next</a>
	                </li>
	            {% endif %}
	        </ul>
	    </div>
	{% endif %}
{% endif %}

{% endblock %}
