{% extends "base.html" %}
{% block content %}

    <h2>Products</h2>
    {% url 'product_add' as add_product_url %}
    <div class="btn-toolbar">
        <a href="{{ add_product_url }}">
        <button class="btn btn-primary">New Product</button>
        </a>
    </div>
    {% if products %}
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Unit Price</th>
                    <th style="width: 36px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                        <td><a href="/product/{{product.id}}">{{ product.name }}</a></td>
                        <td>{{ product.price }}</td>
                        <td>
                            <a href="/product/add/{{product.id}}"><i class="icon-pencil"></i></a>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
             </table>
        </div>
        {% if is_paginated %}
            <div class="pagination">
                <ul>
                    {% url 'product_list' as product_url %}
                    {% if page_obj.has_previous %}
                        <li>
                        <a href="{{ product_url}}?page={{ page_obj.previous_page_number }}">Prev</a>
                        </li>
                    {%else%}
                        <li>
                        <a href="#" style="color:#808080">Prev</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#">{{ page_obj.number }}</a>
                    </li>
                    {% if page_obj.has_next %}
                        <li>
                        <a href="{{ product_url}}?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {%else%}
                        <li>
                        <a href="#" style="color:#808080">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% else %}
        <p>No products are available.</p>
    {% endif %}

{% endblock %}