{% extends "base.html" %}
{% block content %}

{% url 'product_list' as product_url %}
<a href="{{ product_url}}"><h1>Products</h1></a>

{% if product %}
    <h2>Product Details:</h2>
    <ul>
    <li>Name: {{ product.name }}</br>
    <li>Total sales: {{ number_sales }}</br>
    <li>Unit price: ${{ product.price }}</br>
    <li>Total revenue: ${{ total_revenue }}</br>
    </ul>
    {% url 'product_add' as product_add_url %}
    <a href="{{ product_add_url }}{{ product.id }}">Edit Product</a>
{% elif not product %}
    <p>No details are available.</p>
{% endif %}

{% endblock content %}