{% extends "base.html" %}
{% block content %}

{% url 'wash_fold_list' as wash_fold_url %}
<a href="{{wash_fold_url}}"><h2>Wash and Fold</h2></a>

{% if wash_fold_order %}
    <h2>Order #{{ wash_fold_order.id }} Details:</h2>
    Created on {{ wash_fold_order.date }}
    <ul>
    <li>First name: {{ wash_fold_order.first_name }}</br>
    <li>Last name: {{ wash_fold_order.last_name }}</br>
    <li>Phone number: {{ wash_fold_order.phone_number }}</br>
    <li>Address: {{ wash_fold_order.address }}</br>
    <li>Total Cost: {{ wash_fold_order.total_cost }}</br>
    <li>Payment Method: {{ wash_fold_order.payment_method }}</br>
    <li>Payment Finalized: {{ wash_fold_order.payment_finalized }}</br>
    <li>Comments (For customers): {{ wash_fold_order.comments }}</br>
    <li>Staff Comments: {{ wash_fold_order.staff_comments }}</br>
    {% if wash_fold_order.payment_finalized %}
        <li>Payment Date: {{ wash_fold_order.payment_date }}</br>
    {% endif %}
    </ul>
    {% url 'wash_fold_add' as wash_fold_add_url %}
    <a href="/print/wash_fold/{{ wash_fold_order.id }}">Print order</a></br>
    <a href="{{ wash_fold_add_url }}{{ wash_fold_order.id }}">Edit order</a>
{% elif not wash_fold_order %}
    <p>No details are available.</p>
{% endif %}

{% endblock %}
