{% extends "launder/order_form_base.html" %}
{% block order_specific_js %}
    $(document).ready(function() {

        Number.prototype.format = function() {
            return this.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
        };

        $('input#id_weight, input#id_num_comforters').change(function(){
            var weight = $('input#id_weight').val();
            var additional_cost = 0;
            var total_weight_cost = 0;
            if (weight > 0){
                total_weight_cost = 10;
                if (weight > 10){
                    total_weight_cost += (weight - 10) * 0.75;
                }
            }

            var comforter_unit_price = 10;
            var num_comforters = $('input#id_num_comforters').val();
            var total_comforters_cost = comforter_unit_price * num_comforters;

            var total_cost = total_weight_cost + total_comforters_cost;
            console.debug("total_cost ", total_cost);

            if (isNaN(total_cost) !== true ) {
                $('input#id_total_cost').val(total_cost.format());
            }else{
                $('input#id_total_cost').val("");
            }
        });
    });

{% endblock %}
{% block content %}
<center>
<h3>New Wash and Fold Order</h3>
</center>
<form method="post" class="form-horizontal">
    <fieldset>

    {% if form.errors %}
        <p><h3>Errors:</h3></p>
        {% for field in form %}
            {% if field.errors %}
                {{ field.label|striptags }} is required</br>
            {% endif %}
        {% endfor %}
        <hr>
        <br>
    {% endif %}

    {% csrf_token %}

        <div class="control-group">
            <label class="control-label">First Name</label>
            <div class="controls">
                {{ form.first_name }}
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Last Name</label>
            <div class="controls">
                {{ form.last_name }}
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Phone Number</label>
            <div class="controls">
                <input id="id_phone_number" maxlength="15" name="phone_number" type="text" onchange="searchOpen()" value={{ form.phone_number.value|default_if_none:"" }}>
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Address</label>
            <div class="controls">
                {{ form.address }}
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Weight</label>
            <div class="controls">
                {{ form.weight }}
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Number of Comforters</label>
            <div class="controls">
                {{ form.num_comforters }}
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Total Cost</label>
            <div class="controls">
                {{ form.total_cost }}
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Payment Method</label>
            <div class="controls">
                {{ form.payment_method }}
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Payment Finalized</label>
            <div class="controls">
                {{ form.payment_finalized }}
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Comments</br>(For customers)</label>
            <div class="controls">
                {{ form.comments }}
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Save">
                <p class="help-block"></p>
            </div>
        </div>
    </fieldset>
</form>
{% endblock content %}
