
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Two Boys Laundromat{% if title %} - {{ title }}{% endif %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href=" http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"/>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
    {% url 'dry_cleaning_list' as dry_cleaning_url %}
    {% url 'wash_fold_list' as wash_fold_url %}
    {% url 'shirts_list' as shirts_url %}
    {% url 'archive' as archive_url %}
    {% url 'daily_ops_dates_list' as daily_ops_url %}

    <div class="container">  
        <div class="row">
            <ul class="nav nav-tabs">
                {% if active_tab %}
                    {% ifequal active_tab 'home' %}
                        <li class="active"><a href="/">Home</a> </li>
                        <li><a href="{{ dry_cleaning_url }}">Dry cleaning orders</a></li>
                        <li><a href="{{ wash_fold_url }}">Wash and fold orders</a></li>
                        <li><a href="{{ shirts_url }}">Shirt orders</a></li>
                        <li><a href="{{ archive_url }}">Archived orders</a></li>
                        <li><a href="{{ daily_ops_url }}">Daily Operations</a></li>
                        <li><a href="/logout"> Logout </a></li>
                    {% endifequal %}

                    {% ifequal active_tab 'dry_cleaning' %}
                        <li><a href="/">Home</a> </li>
                        <li class="active"><a href="{{ dry_cleaning_url }}">Dry cleaning orders</a></li>
                        <li><a href="{{ wash_fold_url }}">Wash and fold orders</a></li>
                        <li><a href="{{ shirts_url }}">Shirt orders</a></li>
                        <li><a href="{{ archive_url }}">Archived orders</a></li>
                        <li><a href="{{ daily_ops_url }}">Daily Operations</a></li>
                        <li><a href="/logout"> Logout </a></li>
                    {% endifequal %}

                    {% ifequal active_tab 'wash_fold' %}
                        <li><a href="/">Home</a> </li>
                        <li><a href="{{ dry_cleaning_url }}">Dry cleaning orders</a></li>
                        <li class="active"><a href="{{ wash_fold_url }}">Wash and fold orders</a></li>
                        <li><a href="{{ shirts_url }}">Shirt orders</a></li>
                        <li><a href="{{ archive_url }}">Archived orders</a></li>
                        <li><a href="{{ daily_ops_url }}">Daily Operations</a></li>
                        <li><a href="/logout"> Logout </a></li>
                    {% endifequal %}

                    {% ifequal active_tab 'shirts' %}   
                        <li><a href="/">Home</a> </li>
                        <li><a href="{{ dry_cleaning_url }}">Dry cleaning orders</a></li>
                        <li><a href="{{ wash_fold_url }}">Wash and fold orders</a></li>
                        <li class="active"><a href="{{ shirts_url }}">Shirt orders</a></li>
                        <li><a href="{{ archive_url }}">Archived orders</a></li>
                        <li><a href="{{ daily_ops_url }}">Daily Operations</a></li>
                        <li><a href="/logout"> Logout </a></li>
                    {% endifequal %}

                    {% ifequal active_tab 'archive' %}   
                        <li><a href="/">Home</a> </li>
                        <li><a href="{{ dry_cleaning_url }}">Dry cleaning orders</a></li>
                        <li><a href="{{ wash_fold_url }}">Wash and fold orders</a></li>
                        <li><a href="{{ shirts_url }}">Shirt orders</a></li>
                        <li class="active"><a href="{{ archive_url }}">Archived orders</a></li>
                        <li><a href="{{ daily_ops_url }}">Daily Operations</a></li>
                        <li><a href="/logout"> Logout </a></li>
                    {% endifequal %}

                    {% ifequal active_tab 'daily_ops' %}   
                        <li><a href="/">Home</a> </li>
                        <li><a href="{{ dry_cleaning_url }}">Dry cleaning orders</a></li>
                        <li><a href="{{ wash_fold_url }}">Wash and fold orders</a></li>
                        <li><a href="{{ shirts_url }}">Shirt orders</a></li>
                        <li><a href="{{ archive_url }}">Archived orders</a></li>
                        <li class="active"><a href="{{ daily_ops_url }}">Daily Operations</a></li>
                        <li><a href="/logout"> Logout </a></li>
                    {% endifequal %}
                {% else %}
                    <li><a href="/">Home</a> </li>
                    <li><a href="{{ dry_cleaning_url }}">Dry cleaning orders</a></li>
                    <li><a href="{{ wash_fold_url }}">Wash and fold orders</a></li>
                    <li><a href="{{ shirts_url }}">Shirt orders</a></li>
                    <li><a href="{{ archive_url }}">Archived orders</a></li>
                        <li><a href="{{ daily_ops_url }}">Daily Operations</a></li>
                    <li><a href="/logout"> Logout </a></li>
                {% endif %}
            </ul>

            {% block body %}

            {% block content %}{% endblock %}

            {% endblock %}

        </div>
    </div>
</body>
</html>
