<!DOCTYPE html>

<head><title>Dry Cleaning -- Detailed Paged</title></head>
<body>
<h1>Dry Cleaning</h1>

{% if dry_clean_order %}
    <h2>Order #{{ dry_clean_order.id }} Details:</h2>
    Created on {{ dry_clean_order.date }}
    <ul>
    <li>First name: {{ dry_clean_order.first_name }}</br>
    <li>Last name: {{ dry_clean_order.last_name }}</br>
    <li>Phone number: {{ dry_clean_order.phone_number }}</br>
    <li>Address: {{ dry_clean_order.address }}</br>
    <li>Garment Type: {{ dry_clean_order.garment_type }}</br>
    <li>Amount: {{ dry_clean_order.garment_amount }}</br>
    <li>Total Cost: {{ dry_clean_order.total_cost }}</br>
    <li>Payment Method: {{ dry_clean_order.payment_method }}</br>
    <li>Payment Finalized: {{ dry_clean_order.payment_finalized }}</br>
    {% if dry_clean_order.payment_finalized %}
        <li>Payment Date: {{ dry_clean_order.payment_date }}</br>
    {% endif %}
    </ul>
    <a href="/dry_clean_form/{{ dry_clean_order.id }}">Edit order</a>
{% elif not dry_clean_order %}
    <p>No details are available.</p>
{% endif %}

</form>
</body>
</html>
