<!DOCTYPE html>

<head><title>Dry Cleaning Order</title></head>
<body>

{% if dry_clean_order %}
	<h1>Edit dry cleaning order #{{ dry_clean_order.id }} here</h1>
	<form action="/dry_clean/add/{{ dry_clean_order.id }}/" method="post">
{% else %}
	<h1>Add a new dry cleaning order here</h1>
	<form action="/dry_clean/add/" method="post">
{% endif %}

{% csrf_token  %}
	First name: <input type="text" name="first_name" value="{{ dry_clean_order.first_name }}"><br>
	Last name: <input type="text" name="last_name" value="{{ dry_clean_order.last_name }}"><br>
	Phone number: <input type="text" name="phone_number" value="{{ dry_clean_order.phone_number }}"><br>
	Address: <input type="text" name="address" value="{{ dry_clean_order.address }}"><br>
	Garment Type:   <select name="garment_type" value="{{ dry_clean_order.garment_type }}">
				<option value="TROUSERS" {% ifequal dry_clean_order.garment_type "TROUSERS" %} selected="TROUSERS" {% endifequal %} >Trousers</option>
				<option value="M SUITS" {% ifequal dry_clean_order.garment_type "M SUITS" %} selected="M SUITS" {% endifequal %} >Mens Suits</option>
				<option value="TOP O COAT" {% ifequal dry_clean_order.garment_type "TOP O COAT" %} selected="TOP O COAT" {% endifequal %} >Top Coat</option>
				<option value="SHIRTS" {% ifequal dry_clean_order.garment_type "SHIRTS" %} selected="SHIRTS" {% endifequal %} >Shirts</option>
				<option value="SPORTS COATS" {% ifequal dry_clean_order.garment_type "SPORTS COATS" %} selected="SPORTS COATS" {% endifequal %} >Sports Coats</option>
				<option value="NECKTIES" {% ifequal dry_clean_order.garment_type "NECKTIES" %} selected="NECKTIES" {% endifequal %} >Neckties - Hats</option>
				<option value="DRESS" {% ifequal dry_clean_order.garment_type "DRESS" %} selected="DRESS" {% endifequal %} >Dress</option>
				<option value="L SUITS" {% ifequal dry_clean_order.garment_type "L SUITS" %} selected="L SUITS" {% endifequal %} >L Suits</option>
				<option value="SKIRTS" {% ifequal dry_clean_order.garment_type "SKIRTS" %} selected="SKIRTS" {% endifequal %} >Skirts</option>
				<option value="BLOUSE" {% ifequal dry_clean_order.garment_type "BLOUSE" %} selected="BLOUSE" {% endifequal %} >Blouse</option>
				<option value="TOP 3/4 COAT" {% ifequal dry_clean_order.garment_type "TOP 3/4 COAT" %} selected="TOP 3/4 COAT" {% endifequal %} >Top 3/4 Coat</option>
				<option value="CAR COAT" {% ifequal dry_clean_order.garment_type "CAR COAT" %} selected="CAR COAT" {% endifequal %} >Car Coat</option>
				<option value="SLACKS" {% ifequal dry_clean_order.garment_type "SLACKS" %} selected="SLACKS" {% endifequal %} >Slacks</option>
				    </select><br>
	Amount: <input type="text" name="garment_amount" value="{{ dry_clean_order.garment_amount }}"><br>
	Total Cost: <input type="text" name="total_cost" value="{{ dry_clean_order.total_cost }}"><br>
	Payment Method: <select name="payment_method">
						<option value="CASH" {% ifequal dry_clean_order.payment_method "CASH" %} selected="CASH" {% endifequal %} >Cash</option>
						<option value="CREDIT" {% ifequal dry_clean_order.payment_method "CREDIT" %} selected="CREDIT" {% endifequal %} >Credit</option>
						<option value="CHECK" {% ifequal dry_clean_order.payment_method "CHECK" %} selected="CHECK" {% endifequal %} >Check</option>
					</select><br>
	Payment Finalized:<select name="payment_finalized">
					   <option value="False" {% ifequal dry_clean_order.payment_finalized False %} selected {% endifequal %} >Not Finalized</option>
					   <option value="True" {% ifequal dry_clean_order.payment_finalized True %} selected {% endifequal %} >Finalized</option>
					</select><br>
	<input type="submit" value="submit">
</form>
</body>
</html>
