{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>Two Boys Laundromat</title>
   <link rel="stylesheet" type="text/css" href=" http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"/>
   <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</head>
<body>

<h1>Laundry Management System</h1>

<a href="/dry_clean/">View dry cleaning orders</a><br>
<a href="/wash_fold/">View wash and fold orders</a><br>
<a href="/shirts/">View shirt orders</a><br>

{% for order in daily_orders_list %}
	{{order}}
{% endfor %}

</body>
</html>